polkit.addRule(function(action, subject) {
	if ((action.id == "io.vuls.pkexec.gost") &&
        subject.isInGroup("vuls") && subject.active) {
        return polkit.Result.YES;
    }
});
