[Unit]
Description = vulsrepo daemon
Documentation = https://github.com/usiusi360/vulsrepo

[Service]
ExecStart = /usr/bin/vulsrepo-server
ExecRestart = /bin/kill -WINCH ${MAINPID} ; /usr/bin/vulsrepo-server
ExecStop = /bin/kill -WINCH ${MAINPID}
Restart = no
Type = simple
User = vuls
Group = vuls

[Install]
WantedBy = multi-user.target
