<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>kotakanbe (vuls.io)</vendor>
  <vendor_url>https://github.com/kotakanbe/goval-dictionary</vendor_url>

  <action id="io.vuls.pkexec.goval-dictionary">
    <description>Run goval-dictionary as NORMAL user</description>
    <message>Authentication is required to run the goval-dictionary</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/go-gentoo/bin/goval-dictionary</annotate>
  </action>

</policyconfig>
