
[Desktop Entry]
Version=1.0
Type=Application
Name=pentoo-installer
Comment=Install Pentoo!
Exec=/usr/sbin/pentoo-installer
Icon=/usr/share/genmenu/pixmaps/pentoo.png
Path=/root/
Terminal=false
StartupNotify=false
