[Desktop Entry]
Version=1.0
Type=Application
Name=Start Networkmanger
Comment=Start Network Manager
Exec=/usr/sbin/pentoo-start-nm
Icon=network-transmit-receive
Path=
Terminal=false
StartupNotify=true
GenericName=Start up Network Manager
