[Unit]
Description=OSPD OpenVAS
After=network.target networking.service dnsmasq.service redis-server@openvas.service systemd-tmpfiles.service
ConditionKernelCommandLine=!recovery

[Service]
Type=forking
EnvironmentFile=/etc/default/ospd-openvas.default
Environment="PATH=$PATH"
Environment="PYTHONPATH=$PYTHONPATH"
User=<username>
Group=<groupname>
ExecStart=<install-prefix>/bin/ospd-openvas
SuccessExitStatus=SIGKILL
# This works asynchronously, but does not take the daemon down during the reload so it's ok.
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
Alias=ospd-openvas.service
