[Desktop Entry]
Comment=
Exec=grimwepa
GenericName=
Icon=cache
Name=GrimWepa
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Java;Utility;
