#!/sbin/runscript
# Copyright 1999-2011 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/sys-fs/cryptsetup/files/1.0.5-dmcrypt.rc,v 1.4 2011/01/18 20:05:18 vapier Exp $

depend() {
	before checkfs fsck
}

start() {
	if [ ! -e /lib/librc.so ]; then
		eerror "The ${myservice} init script is written for baselayout-2"
		eerror "Please do not use it with baselayout-1"
		return 1
	fi

	. /lib/rcscripts/addons/dm-crypt-start.sh
}

stop() {
	if [ ! -e /lib/librc.so ]; then
		return 0
	fi

	. /lib/rcscripts/addons/dm-crypt-stop.sh
}
