name: Pentoo Build Test

on:
  pull_request:
    branches:
      - master

jobs:
  pentoo-build-test:
    runs-on: ubuntu-latest
    steps:
    -
      name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:
        root-reserve-mb: 6000
        swap-size-mb: 1024
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'
        remove-codeql: 'true'
        remove-docker-images: 'true'
    -
      name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    -
      name: List added files
      run: git --no-pager diff --name-only "$(git rev-parse --verify origin/master 2> /dev/null)" HEAD
    -
      name: Pentoo Build Test
      run: |
        sudo docker build --progress=plain . -f scripts/qa/Dockerfile.build
