name: pkgcheck
on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Tree-wide pkgcheck error check
        uses: pkgcore/pkgcheck-action@v1
        with:
          args: --exit error -k error,PkgMetadataXmlIndentation,DeprecatedManifestHash,UnusedInherits,-NonsolvableDepsInStable,-NonsolvableDepsInDev,-NonsolvableDepsInExp,-PotentialStable,-UnknownProfilePackage,-DeprecatedDep,-MissingUseDepDefault,UnknownProfilePackageUse,UnknownProfilePackage,OldPackageUpdate

      - name: Commit pkgcheck warnings
        uses: pkgcore/pkgcheck-action@v1
        with:
          args: --exit warning -k ,PkgMetadataXmlIndentation,-NonsolvableDepsInStable,-NonsolvableDepsInDev,-PotentialStable,-UnknownProfilePackage,-DeprecatedDep,-MissingUseDepDefault,ProfileError,ProfileWarning,UnknownProfilePackageUse,UnknownProfilePackage,OldPackageUpdate --commits HEAD^..${{ github.sha }}
